name: publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - uses: xu-cheng/texlive-action@475ab07999e9709e524c3708488c8c170d3a6611
        with:
          scheme: full
          run: |
            apk add cargo gcc linux-headers musl-dev py3-pip python3 python3-dev rust
            apk add libc-bin || echo "No libc-bin"  # temproary
            apk add uni2ascii || echo "No uni2ascii"  # temproary
            ./make.sh
# deploy to github pages
      - name: deploy documentation
        uses: JamesIves/github-pages-deploy-action@94f3c658273cf92fb48ef99e5fbc02bd2dc642b2
        with:
          branch: gh-pages
          folder: /home/runner/work/oa/oa/website/
          single-commit: true
